<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="ParallelTesting.java" parallel="classes" thread-count="10">

   <classes>
       <class name="Class03.ParallelTesting"></class>
       <class name="Class03.DataProviders"></class>
   </classes>
    </test>
</suite>